<form (ngSubmit)="onSubmit()">
    <label for="current-password">Current Password:</label>
    <input type="password" name="currentPassword" [(ngModel)]="currentPassword">
    
    <label for="new-password">New Password:</label>
    <input type="password" name="newPassword" [(ngModel)]="newPassword">
    
    <label for="confirm-password">Confirm New Password:</label>
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword">
    
    <button type="submit">Update Password</button>
  </form>
  
