<div class="container">
    <div class="row">
         <div class="col-md-6">
             <div class="box">
                  <div class="text-centr mb-4">
                       <h1>signUp</h1>
                       <h6>Register yourself by filling below details!</h6>
                  </div>
                       <label for ="exampleInputpassword1">Full Name</label>    
                       <input type="text" formControlName="fullname" class="form-control" id="exampleInputpassword1" placeholder="fullname">  
                       </div>
                   <div class="form-group">
                       <label for="exampleInputpassword1">Mobile Number</label>                
                       <input type="text" formControlName="Mobile" class="form-control" id="exampleInputpassword1" placeholder="Mobile Number">
                       </div>
                    </div>
                    <label for="exampleInputEmaill">Email adresse</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputEmaill" aria-describedby="emailHelp"  placeholder="Enter email">
                    <small id="emailHelp" class="form.text text-muted">we'll never share your email with anyone 
                    <div class="form-group">
                         <label for="exampleInputpassword1">password</label>
                         <input type="password" formControlName="password" class="form-control"  id="exampleInputpassword1">
                    </div>   

