<div class="container">
    <div class="row">
         <div class="col-md-6">
             <div class="box">
                  <div class="text-centr mb-4">
                       <h1>login</h1>
                       <h6>please enter your login and password</h6>
                  </div>
                     <div class="form-group">
                       <label for="email" formControlName="email" class="form-control" id="exampleInputemail" aria-describedby="emailHelp" aria-placeholder="Enter email">
                       <input type="emailHelp" class="form-text-muted"> We'll never share your email with anyone else.<br>
                     <div class="form-group">
                       <label class="form-group">
                           <label for="exampleInputpassword1">password</label>
                            <input type="password" formControlName="password" class="form-control" id="exampleInputpassword1" placeholder="password">
                          <a href="/forgot-password" class="text-dark" style="text-decoration: none;"></a>
                  <a routerlink='=/signup' style="float:right;color: darkred">Newuser? Click to signUp!  ></a>
    


